.projects {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 5rem 0 5rem 0;
  font-size: 1.7rem; }
  .projects Button {
    background: transparent;
    border-radius: 0;
    border: 2px solid white;
    color: #FFF;
    font-size: 2rem;
    margin: 5px 0 5px 0; }
  .projects h3 {
    padding: 0;
    margin: 0; }
  .projects .fade-in {
    animation-name: fadeIn;
    animation-duration: 2s; }
  .projects .luxuvityProject {
    animation-name: fadeLeft;
    animation-duration: 1s; }
  .projects .pokeProject {
    animation-name: fadeRight;
    animation-duration: 1s;
    margin-top: 10px; }
  .projects .highlight {
    color: #3bd6c6;
    font-weight: bold; }
  .projects h1 {
    text-align: center;
    font-size: 4rem; }
  .projects hr {
    max-width: 100px;
    border-width: 3px;
    border-color: #fff; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeLeft {
  0% {
    opacity: 0;
    transform: translateX(-200px); }
  100% {
    opacity: 1;
    transform: translateX(0px); } }

@keyframes fadeRight {
  0% {
    opacity: 0;
    transform: translateX(200px); }
  100% {
    opacity: 1;
    transform: translateX(0px); } }
