.navbar
  background: transparent
  border: none
  margin: 0
  .navbar-nav
    display: inline-block
    float: none
    vertical-align: top
    a
      padding-left: 20px
      padding-right: 20px
      font-size: 20px
      text-transform: uppercase
      color: #fff
  .navbar-collapse
    text-align: center
    ul
      li
        a
          color: white
        a:hover
          color: #3bd6c6
        a:active
          color: #3bd6c6
        a:focus
          color: #3bd6c6
