.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 56px);
  text-align: center; }
  .contact .contact-form {
    margin: 10px;
    animation-name: Pop;
    animation-duration: 1s; }
    .contact .contact-form .highlight {
      color: #3bd6c6;
      font-weight: bold; }
    .contact .contact-form Button {
      background: transparent;
      border-radius: 0;
      border: 2px solid white;
      color: #FFF;
      font-size: 2rem;
      margin: 5px; }
  .contact h1 {
    font-size: 4rem; }
  .contact input {
    border-radius: 0;
    margin-bottom: 5px;
    border: solid 2px #3bd6c6; }
  .contact textarea {
    border-radius: 0;
    margin-bottom: 5px;
    border: solid 2px #3bd6c6; }
  .contact hr {
    max-width: 100px;
    border-width: 3px;
    border-color: #fff; }

@keyframes Pop {
  0% {
    transform: scale(0.1); }
  50% {
    transform: scale(1.2); }
  100% {
    transform: scale(1); } }
