.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  padding: 5rem 0 5rem 0;
  background: black;
  margin: 10px;
  animation-name: Pop;
  animation-duration: 1s;
  font-size: 2.5rem; }
  .contact .highlight {
    color: #3bd6c6;
    font-weight: bold; }
  .contact h1 {
    font-size: 4rem; }
  .contact hr {
    max-width: 100px;
    border-width: 3px;
    border-color: #fff; }
  .contact .container .row {
    margin: 20px 0; }

@keyframes Pop {
  0% {
    transform: scale(0.1); }
  50% {
    transform: scale(1.2); }
  100% {
    transform: scale(1); } }
