html, body {
  background: black;
  color: #FFF;
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
}

@media (max-width: 450px) {
  html { font-size: 3.5px; }
}
@media (max-width: 1000px) {
  html { font-size: 7px; }
}
